.pokemon-name {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.pokemon-image {
  width: 100%;

  height: auto;
  display: block;
  margin: 0 auto 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.pokemon-item {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  width: 300px;
  overflow-y: hidden;
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 90%;
  overflow-y: auto;
  justify-content: start;
}
.pokemon-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  margin: 0 auto;
}

.section-title {
  font-size: 24px;
  margin: 15px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-list li {
  margin-bottom: 5px;
  font-size: 16px;
}

.info-list li a {
  color: #007bff;
  text-decoration: none;
}

.info-list li img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* HTML: <div class="loader"></div> */
.loader {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 1;
}
.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
}
.loader:before {
  margin: 25%;
  background: repeating-conic-gradient(#c02942 0 60deg, #0b486b 0 120deg);
  transform: rotate(0turn) translate(50%) rotate(0turn);
  animation: l1 3s linear infinite;
}
.loader:after {
  padding: 10%;
  margin: -10%;
  background: repeating-conic-gradient(
    from -15deg,
    #c02942 0 30deg,
    #0b486b 0 60deg
  );
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}
@keyframes l1 {
  to {
    transform: rotate(1turn) translate(50%) rotate(-2turn);
  }
}

.hidden {
  display: none;
}
